{{> header}}
<div class="home-page">


    <div class="home-page-hero">
        <h1>Atlassian Documentation</h1>
        <h2>Find help using and administering Atlassian products</h2>
    </div>

    <form class="component-inline-search-form" action="/search/" method="get">
        <input type="text" name="query" placeholder="Search documentation">

    </form>

</div>
