<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/fontawesome-all.min.css'/>
    <link rel='stylesheet' href='/stylesheets/grid.css'/>
    <link rel='stylesheet' href='/stylesheets/app.css'/>
</head>
<body class="lia-qanda lia-user-status-anonymous QandAQuestionPage lia-body">
<div class="lia-content">
    {{{body}}}
</div>
<script src="/javascripts/jq.js"></script>
<script src="/javascripts/menu.js"></script>
<script src="/javascripts/app.js"></script>
</body>
</html>
