{{> header}}
<md-content flex layout="column" style="margin-top: 2px;">

    <!--<section layout="row" flex>-->

        <!--<md-sidenav-->
                <!--class="md-sidenav-left"-->
                <!--md-component-id="left"-->
                <!--md-is-locked-open="$mdMedia('gt-md')">-->
            <!--<md-content ng-controller="sidebarcontroller">-->
                <!--<md-list ng-cloak>-->
                    <!--<md-list-item ng-repeat="sidebarItem in sidebarItems" ng-click="funClick()">-->
                        <!--<p> {# sidebarItem #} </p>-->
                    <!--</md-list-item>-->
                <!--</md-list>-->
            <!--</md-content>-->
        <!--</md-sidenav>-->
        <!--<md-content flex layout-padding>-->
            <!--<div layout="column" layout-align="top center">-->

            <!--</div>-->
        <!--</md-content>-->
    <!--</section>-->
</md-content>